# Backend Environment Variables
MONGO_URI=mongodb+srv://rohitbadekar555:rohitbadekar555@cluster0.vdq6w.mongodb.net/?appName=Cluster0
JWT_SECRET=c516008ee9406b4e95815675c88e2647a5767ff66a03ed1fbdb395e40380218f
GOOGLE_AI_KEY=AIzaSyDIq-5js_hadKu9eP0gILbY8P1TTpJgVek
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_PASSWORD=your_redis_password_here